* {
    margin: 0;
    padding: 0;
}

.header {
    background: #222222;
    Height: 75px;
}

.conteiner {
width: 1140px;
margin: 0 auto;
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    Height: 75px;
}

.poisk {
    margin-right: 41px;
}

.headermenu {
    margin-right: 33px;
}

.img {
    background: #F1E4E6;
}

.Layer {
    display: flex;
    align-items: center;
}

.title {
color: #222222;
}

.subject {
    font-weight: 900;
font-size: 48px;
line-height: 58px;
}

.subtitle {
    font-size: 32px;
    font-weight: 900;
}

.desc {
   color: #F16D7F;
}

.icon {
    width: 12px;
    height: 92px;
    background: #F16D7F;
    margin-right: 16px;
    margin-left: 64px;
}

.thumb {
    display: flex;
    margin-top: 64px;
}

.textpng {
    position: absolute;
    top: 110px;
    color: #FFFFFF;
    align-items: center;
    font-size: 16px;
line-height: 19px;
text-align: center;
left: 125px;
}

.thumbitem {
    position: relative;
    background-image: url(img/Layer\ 43.png);
}

.thumbitem2 {
    position: relative;
    background-image: url(img/Rectangle\ 30.png);
}

.thumbitem3 {
    position: relative;
    background-image: url(img/Rectangle\ 30\ \(1\).png);
}

.lead {
    color: #F16D7F;
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
}

.item {
    margin-right: 30px;
    margin-bottom: 30px;
    height: 260px;
}

.picture {
    position: relative;
    background-image: url(img/Rectangle\ 20.png);
    height: 180px;
}

.tagline {
    position: absolute;
    top: 65px;
    color: #FFFFFF;
    align-items: center;
    font-size: 16px;
line-height: 19px;
text-align: center;
left: 491px;
}

